bin/
debug/
release/
x64/
artifacts/
docs/website/public
.vscode/
res/libsodium.a
res/libsodium/libsodium*
res/libsodium.a
src/ui_*.h
*.autosave
src/precompiled.h.cpp
.qmake.stash
vccwallet
vcc-qt-wallet
vcc-qt-wallet.app
VccWallet.app
vcc-qt-wallet-mingw*
vcc-qt-wallet.vcxproj*
vccwallet.vcxproj*
vcc-qt-wallet.sln
vcc-qt-wallet.pro.user
Makefile
Makefile.*
qrc_application.cpp
vcc-qt-wallet_plugin_import.cpp
vccwallet_plugin_import.cpp
vcc-qt-wallet_resource*
vccwallet_resource*
workspace.code-workspace
*.zip
*.tar.gz
*.xcsettings
.DS_Store
*.mak
vcoind
IDEWorkspaceChecks.plist
*.sln
node_modules
vcc-qt-wallet.pro.user.4.10-pre1
